@import "../../../../Styles/colors.scss";
@import "../../../../Styles/fonts.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 15px;
  gap: 10px;
  color: white;

  .generation {
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3 {
        font-size: 20px;
        font-family: $font-nasalization;
      }
    }

    .data {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        flex-direction: column;

        .content {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
          padding: 10px 0;

          .img {
            width: 20px;
            height: 20px;
            background-color: black;
          }

          p {
            font-weight: normal;
            font-size: 14px;
          }

          span {
            margin-left: 35px;
            font-family: $font-nasalization;
            font-weight: 600;
          }
        }

        .line {
          width: 100%;
          height: 2px;
          background-color: #ffffff80;
        }
      }
    }

    .item:last-child {
      .line {
        display: none;
      }

      .content {
    
      }
    }
  }
}
