@import "../../Styles/breakpoints.scss";

@media (max-width: $desktop - 1) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 30px;
        padding: 0px 10px;
        overflow: visible;

        .products {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            overflow: visible;
            .search {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                overflow: visible;
                z-index: 3;
            }
        }
    }
}

@media (min-width: $desktop) {
    .container {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        .products {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .search {
                display: flex;
                flex-direction: row;
                gap: 8px;
                overflow: visible;
                z-index: 3;
            }
        }
    }
}
