@import "../../Styles/breakpoints.scss";
@import "../../Styles/fonts.scss";

@media (max-width: ($desktop - 1px)) {
  .container {
    display: flex;
    flex-direction: column;

    .subContainer {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      .products {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .container {
    display: flex;
    flex-direction: column;

    .subContainer {
      display: flex;
      justify-content: space-between;

      .products {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
