.filters {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;

  .filter {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    input[type="checkbox"] {
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      font-family: inherit;
      color: #0149db85;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid #0149db;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    input[type="checkbox"]:checked:after {
      content: "✓";
      background: #0149db;
      color: white;
      text-align: center;
      padding: 1rem;
      left: 50%;
      top: 50%;
      font-size: 16px;
      transition-duration: 0.3s;
      font-family: "Rubik";
    }
  }
}
