/* .pack {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #0146d5;
  background: #181931;

  .imgContainer {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../Assets/img/packBg2.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      height: 75%;
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem;
    color: white;
    font-family: "Rubik";

    h4 {
      text-transform: uppercase;
    }

    p {
      font-weight: 300;
      font-size: 16px;
    }

    span {
      font-weight: 700;
    }
  }
}

.pack:hover {
  .imgContainer {
    img {
      transition-duration: 0.3s;
      transform: scale(1.15);
    }
  }
}
 */

.pack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Rubik";
  width: 100%;

  .packImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010320;
    width: 500px;
    height: 150px;
    transform: rotate(5deg);
    z-index: 3;
    margin-bottom: -20px;
    position: relative;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      background-color: white;
      background: radial-gradient(
        50% 132.28% at 50% 47.76%,
        #ecafef 0%,
        #ff0079 56.77%,
        #b53067 100%
      );
      position: relative;

      .packImg {
        position: absolute;
        top: 0;
        margin-top: -50px;
        z-index: 3;
      }
    }
  }

  .packDataContainer {
    width: 450px;
    background: #181931;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .desc {
      font-weight: 400;
      padding: 1rem 0;
    }

    .left {
      line-height: 18px;
      padding: 0.2rem 0;
    }

    .priceContainer {
      padding-top: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;

        img {
          object-fit: contain;
          width: 20px;
        }

        color: #3adaff;
      }
    }
  }
}
