@import "../../../../Styles/colors.scss";
@import "../../../../Styles/fonts.scss";
@import "../../../../Styles/breakpoints.scss";

@media (max-width: $mobile - 1) {
    .detailContainer {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .videoContainer {
        height: 52vh;
        width: 100%;
        .pinVideo {
            height: 100%;
            position: relative;
            top: 0;
            left: 50%; /*Center the vid, withouth black spaces*/
            transform: translate(-50%);
        }
    }
    .detailDescription {
        width: 100%;
        display: flex;
        background-color: $card-bg;
        flex-direction: column;
        justify-content: center;
        padding: 25px 0px 25px 10px;
        gap: 15px;
        font-family: $font-nasalization;
        color: #fff;
        overflow-y: visible;
        .title {
            font-size: 20px;
        }
        .price {
            color: $account-border;
        }
        .seller {
            font-size: 12px;
        }
        .sellerYellow {
            color: #ffff00;
        }
        .buttonsContainer {
            padding: 12px 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }
}

@media (min-width: $mobile) and (max-width: $desktop - 1) {
    .detailContainer {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: stretch;
    }
    .videoContainer {
        width: 35%;
        .pinVideo {
            position: relative;
            top: 0;
            left: 50%; /*Center the vid, withouth black spaces*/
            transform: translate(-50%);
        }
    }
    .detailDescription {
        width: 45%;
        display: flex;
        background-color: $card-bg;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0px 35px 20px;
        gap: 25px;
        font-family: $font-nasalization;
        color: #fff;
        overflow-y: visible;
        .title {
            font-size: 30px;
        }
        .price {
            color: $account-border;
        }
        .seller {
            font-size: 20px;
        }
        .sellerYellow {
            color: #ffff00;
        }
        .buttonsContainer {
            padding: 12px 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button {
                width: 150px;
            }
        }
    }
}

@media (min-width: $desktop) and (max-width: $HD - 1) {
    .detailContainer {
        height: calc(100vh - 80px);
        // margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // gap: 35px;
        align-items: stretch;
    }
    .videoContainer {
        background-color: black ;
        width: 35%;
        height: 100%;
        overflow: hidden;
        .pinVideo {
            height: 100%;
            position: relative;
            top: 0;
            left: 50%; /*Center the vid, withouth black spaces*/
            transform: translate(-50%) scale(0.8);

        }
    }
    .detailDescription {
        height: 100%;
        width: 65%;
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0px 35px 25px;
        gap: 25px;
        font-family: $font-nasalization;
        color: #fff;
        overflow-y: visible;
        .title {
            font-size: 28px;
            font-weight: bold;
        }
        .price {
            color: $logout;
        }
        .seller {
            font-size: 18px;
        }
        .sellerYellow {
            color: #ffff00;
        }
        .buttonsContainer {
            padding: 12px 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            button {
                width: 200px;
            }
        }
    }
}

@media (min-width: $HD) {
    .detailContainer {
        height: calc(80vh - 80px);
        // padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // gap: 30px;
        align-items: stretch;
    }
    .videoContainer {
        width: 35%;
        height: 100%;
        background-color: black ;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .pinVideo {
            position: relative;
            top: 0;
            left: 50%; /*Center the vid, withouth black spaces*/
            transform: translate(-50%);
        }
    }
    .detailDescription {
        height: 100%;
        background-color: black;
        width: 65%;
        display: flex;
        // background-color: $card-bg;
        flex-direction: column;
        justify-content: center;
        padding: 35px 0px 35px 40px;
        gap: 25px;
        font-family: $font-nasalization;
        color: #fff;
        overflow-y: visible;
        .title {
            font-size: 30px;
        }
        .price {
            color: $account-border;
        }
        .seller {
            font-size: 20px;
        }
        .sellerYellow {
            color: #ffff00;
        }
        .buttonsContainer {
            padding: 12px 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            button {
                width: 280px;
            }
        }
    }
}
