@import "../../Styles/fonts.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/breakpoints.scss";

@media (max-width: ($desktop - 1px)) {
  .container {
    display: flex;
    flex-direction: column;

    .subContainer {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      .products {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .container {
    display: flex;
    flex-direction: column;

    .searchContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 24px;
      overflow: visible;
      position: relative;

      .searchAndOrder {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow: visible;
      }
    }

    .subContainer {
      display: flex;
      justify-content: space-between;

      .products {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
