@import "../../../../Styles/colors.scss";
@import "../../../../Styles/fonts.scss";

.container {
  margin-top: 65px + 40px;
  margin-left: 100px;
  background-color: $account-bg;
  width: 45rem;
  height: 10rem;
  position: absolute;
  border-radius: 10px;
  border: 2px solid $account-border;
  font-family: $font-nasalization;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  p {
    width: 100%;
    text-align: center;
  }
}

.title {
  color: $account-name;
  font-weight: 700;
  font-size: 25px;
}

.joined {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.linked {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.nCoin {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
  margin-top: 10px;
  font-size: 15px;
}
