$text-color: #8eceff;

.ncoins {
  height: 65px;
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: 0 1rem;

  p {
    margin-top: 3px;
    font-family: "Rubik";
    color: $text-color;
    font-weight: 500;
    font-size: 13px;
  }

  .ncoinImg {
    height: 20px;
  }

  .buyMore {
    cursor: pointer;
    background: $text-color;
    border: none;
    border-radius: 16px;
    height: 35px;
    padding: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .buyMore:hover {
    transition-duration: .3s;
    background: #59b2f6;
  }
}
