$text-color: #8eceff;

.ncoins {
  height: 65px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0 1rem;

  p {
    margin-top: 3px;
    font-family: "Rubik";
    color: $text-color;
    font-weight: 500;
    font-size: 13px;
  }

  .ncoinImg {
    height: 20px;
  }

  .buyMore {
    cursor: pointer;
    background-color: $text-color;
    border: none;
    height: 45px;
    border-radius: 16px 0 16px 0;
    padding: 0 1.5rem;

    span {
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  .buyMore:hover {
    transition-duration: 0.3s;
    background: #59b2f6;
  }
}
