@import "../../../../Styles/breakpoints.scss";

@media (max-width: ($desktop - 1)) {
  .packDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Rubik";
    width: 100%;
    gap: 2%;
    padding: 1.5rem;

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      img {
        width: 275px;
      }
    }

    .packData {
      max-width: 650px;
      width: 100%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0.5rem;

      h3 {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
      }

      .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .leftsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      row-gap: 1rem;

      .box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 300px;
        background-color: #181931;
        border: 2px solid #0146d5;
        padding: 0.8rem;
        border-radius: 8px;

        .texts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            font-weight: 400;
            font-size: 14px;
          }

          span {
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }

    .ncoins {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        height: 22px;
        object-fit: contain;
      }

      b {
        font-weight: 800;
        font-size: 20px;
        color: #3adaff;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media (min-width: ($desktop)) {
  .packDescription {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Rubik";
    width: 100%;
    gap: 2%;

    .imgContainer {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      img {
        width: 275px;
      }
    }

    .packData {
      max-width: 650px;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0.5rem;

      h3 {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
      }

      .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .leftsContainer {
      display: flex;
      gap: 5%;

      .box {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 50%;
        background-color: #181931;
        border: 2px solid #0146d5;
        padding: 0.8rem;
        border-radius: 8px;

        .texts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            font-weight: 400;
            font-size: 14px;
          }

          span {
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }

    .ncoins {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        height: 22px;
        object-fit: contain;
      }

      b {
        font-weight: 800;
        font-size: 20px;
        color: #3adaff;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
