.maintenanceMsg {
  background: #f9a91f;
  width: 100vw;
  height: fit-content;
  position: relative;
  z-index: 5;
  padding: calc(80px + 1rem) 1rem 1rem;
  text-align: center;
  font-family: "Rubik";
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
