$nav-back: #010320;
$primary-blue: #081F91;
$secondary-blue: #0049DB;
$deep-blue: #002B80;
$login-button: #212739;
$signUp-button: #051237;
$blue-dialog-background: #0149DB;
$signUp-button: #051237;
$account-bg: rgba(24, 146, 240, 0.12);
$account-border: #0149db;
$account-name: #ffdd00;