$nav-back: #010320;
$primary-blue: #081F91;
$secondary-blue: #0049DB;
$deep-blue: #002B80;
$blue-dialog-background: #0149DB;
$login-button: #212739;
$signUp-button: #051237;
$input-background: #041237