@import "../../Styles/fonts.scss";

.card {
  cursor: pointer;
  box-shadow: 0px 6px 16px rgba(25, 25, 25, 0.3);
  background: #00147f;
  border: 2px solid rgba(6, 7, 13, 1);
  overflow: visible;
  position: relative;
  width: 242px;
  // height: 378px;

  .onSale {
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    font-family: "Rubik";
    padding: 0.2rem;
    border: 2px solid white;
    border-radius: 8px;
    padding-top: 0.4rem;
    margin-top: -10px;
    margin-left: -10px;
    font-weight: bold;
  }

  .characterFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 186px;
    overflow: visible;

    .imgNft {
      background: transparent;
      position: absolute;
      bottom: 0;
      height: 237px;
      left: -10px;
    }

    .buffs {
      z-index: 2;
      position: absolute;
      right: 6px;
      top: 24px;
      gap: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 32px;
      }
    }

    .rarityIcon {
      position: absolute;
      right: 6px;
      top: -15px;
    }
  }
  .texts {
    width: 100%;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    .title {
      font-family: $font-rubikExtrabold;
      font-size: 20px;
      line-height: 24px;
      text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black;
      color: #ffffff;
    }

    .subtitle {
      padding-top: 4px;
      font-family: $font-rubikMedium;
      font-size: 17px;
      line-height: 20px;
      color: #ffffff;
    }

    .p2eContainer {
      padding-top: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .p2e {
        font-family: $font-rubikRegular;
        font-size: 17px;
        line-height: 20px;
        text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
          -1px -1px 0 black;
        color: #ffffff;
      }
      .p2eIcon {
        width: 22px;
      }
    }

    .seller {
      padding-top: 10px;
      font-family: $font-rubikRegular;
      font-size: 17px;
      line-height: 20px;
      text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black;
      color: #ffffff;
    }

    .nCoinContainer {
      @extend .p2eContainer;
      padding-top: 10px;
      gap: 8px;
      .p2eIcon {
        width: 24px;
      }
    }
  }
}

.CommonCard {
  @extend .card;
  .characterFrame {
    background: linear-gradient(90deg, #9f9f9f 0%, #b7b7b7 49.79%);
  }
}

.RareCard {
  @extend .card;
  .characterFrame {
    background: linear-gradient(90deg, #30cd5c 0%, #2ed15d 100%);
  }
}

.EpicCard {
  @extend .card;
  .characterFrame {
    background: linear-gradient(90deg, #2a7dd4 0%, #49a7ef 100%);
  }
}

.LegendaryCard {
  @extend .card;
  .characterFrame {
    background: linear-gradient(90deg, #aa1fdb 0%, #b11fdf 100%);
  }
}
