@import "../../Styles/colors.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/breakpoints.scss";

// Large devices (desktops, 992px and up)
@media (max-width: $desktop - 1) {
  .btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .cont {
    width: 100%;
  }

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }

  .modalContainer {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 49;
    background-color: #00000070;
  }

  .collection {
    font-size: 25px;
    font-weight: 600;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    font-family: $font-nanum;

    .dropdown {
      color: white;
      background-color: rgb(71, 71, 71);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
      border-radius: 3px;

      a {
        font-size: 15px;
        text-decoration: none;
        padding: 10px 75px;
        color: white;
      }
    }
  }

  .navbar {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: $nav-back;
    z-index: 45;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    img {
      height: 50px;
      padding-right: 15px;
    }

    .login {
      height: 50px;
      width: 150px;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-family: $font-nasalization;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
      background-color: $login-button;
      color: white;
    }

    .signUp {
      height: 50px;
      width: 150px;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-family: $font-nasalization;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
      background-color: #ffffff;
      color: $signUp-button;
    }
  }

  .navLink {
    font-size: 25px;
    font-weight: 600;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    font-family: $font-nanum;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #ffffff;
  }
  .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    padding-right: 370px;

    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      color: #fff;
    }

    li {
      list-style: none;
      padding: 0px 5px;
      height: 40px;
    }

    a {
      text-decoration: none;
      color: white;
      font-family: $font-nanum;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-family: $font-nanum;
      font-weight: 700;
    }
  }

  .navMenu {
    display: none;
  }

  .navMenuActive {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: $nav-back;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btnContainer {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }

  .hamburgerActive {
    position: fixed;
    right: 0;
    margin-right: 30px;
    cursor: pointer;

    .bar {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }

  .logout {
    font-size: 25px;
    list-style: none;
    padding: 0px 5px;
    text-decoration: none;
    color: $logout;
    font-family: $font-nanum;
    font-weight: 700;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $logout;
    }
  }

  .bottomContainer {
    background-color: $primary-blue;
    width: 100vw;
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    height: 140px;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    button {
      border: none;
      background-color: $logout;
      color: white;
      font-family: $font-monkyta;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
    }

    .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: right;
      gap: 5px;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }

    .name {
      color: $account-name;
      font-family: $font-nanum;
      font-weight: 600;
      font-size: 13px;
      text-align: right;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
    }

    .link {
      display: contents;
    }

    .ncoins {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: right;
      gap: 5px;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;

      p {
        color: white;
        font-family: $font-nanum;
        font-weight: 600;
        font-size: 13px;
        text-align: right;
      }

      img {
        height: 15px;
        padding: 0;
      }
      .normal {
        position: relative;
        left: 2px
      }
      
      .reload {
        position: relative;
        left: 2px;
        -webkit-transform: rotate(720deg);
            -ms-transform: rotate(720deg);
                transform: rotate(720deg);
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
      }
    }
  }

  .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $desktop) {
  .hamburgerActive,
  .btns,
  .navLinks,
  .navMenuActive,
  .hamburger,
  .cont {
    display: none;
  }

  .modalContainer {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 49;
    background-color: #00000070;
  }

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }

  .collection {
    list-style: none;
    padding: 0px 5px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: $font-nanum;
    font-weight: 700;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .dropdown {
      color: white;
      position: absolute;
      background-color: rgb(71, 71, 71);
      font-family: $font-monkyta;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      margin-top: 100px;
      border-radius: 3px;

      a {
        font-size: 12px;
        padding: 8px 30px;
      }
    }
  }

  .navbar {
    width: 100%;
    height: 80px;
    background-color: $nav-back;
    z-index: 45;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    img {
      height: 50px;
      padding-right: 15px;
    }

    .login {
      height: 100%;
      width: 8rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-family: $font-nasalization;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
      background-color: $login-button;
      color: white;
    }

    .logoutBtn {
      height: 100%;
      width: 8rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-family: $font-nasalization;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
      background-color: $login-button;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .signUp {
      height: 100%;
      width: 8rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-family: $font-nasalization;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
      background-color: #ffffff;
      color: $signUp-button;
    }
  }

  .btnContainer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navLink {
    font-size: 18px;
    font-weight: 600;
    color: #3a3b3b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #ffffff;
  }

  .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;

    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }

    li {
      list-style: none;
      padding: 0px 5px;
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-family: $font-nanum;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      text-decoration: none;
      color: white;
      font-family: $font-nanum;
      font-weight: 700;
    }
  }

  .link {
    display: contents;
  }

  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bottom,
  .bottomContainer,
  .logout {
    display: none;
  }

  .navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;

    li a {
      width: 100%;
    }
  }

  .dataContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
  }

  .userData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;

    .ncoins {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      gap: 8px;

      img {
        height: 15px;
      }

      p {
        color: #3d91ef;
        font-family: $font-nanum;
        font-weight: 600;
        font-size: 13px;
      }
      
    }

    .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      gap: 8px;
      padding-right: 15px;
    }

    p {
      color: $account-name;
      font-family: $font-nanum;
      font-weight: 600;
      font-size: 13px;
    }
  }

  .buyMore {
    border: none;
    background-color: $logout;
    color: white;
    font-family: $font-monkyta;
    padding: 1px 0px;
    width: 90px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
  }

  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}