.carouselContainer {
    transition: 400ms ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px - 12vh);
}

.buttonContainer {
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselMoveInitial {
    @extend .carouselContainer;
    transform: translate(150px, 0);
}

.carouselMoveLast {
    @extend .carouselContainer;
    transform: translate(-150px, 0);
}