.carouselContainer {
    transition: 400ms ease;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px - 12vh);
}

.buttonContainer {
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselMoveInitial {
    @extend .carouselContainer;
    transform: translate(510px, 0);
    width: calc(100% - 750px);
    padding-left: 320px;
    overflow: hidden;
}

.carouselMoveLast {
    @extend .carouselContainer;
    width: calc(100% - 750px);
    padding-right: 320px;
    transform: translate(230px, 0);
    overflow: hidden;
}