@import '../../Styles/fonts.scss';
@import '../../Styles/colors.scss';

.botonGenerico {
    background-color: $primary-blue;
    border: none;
    color: white;
    padding: 10px 25px;
    font-family: $font-monkyta;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}