@import "../../../../Styles/breakpoints.scss";

@media (max-width: ($desktop - 1)) {
  .packInfo {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
    padding: 0 1rem;
    color: white;
    font-family: "Rubik";
    height: 100%;

    .left {
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .desc {
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 19px;
        font-weight: 400;
      }

      .nfts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
      }

      .inPack {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;

        h3 {
          font-size: 28px;
        }

        .chances {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          p {
            font-weight: 400;
            font-size: 16px;
          }
        }
      }

      .viewAll {
        margin: 1rem 0;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        height: 48px;
        border: 2px solid #ffffff;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        font-family: "Rubik";
      }

      .viewAll:hover {
        transition-duration: 0.3s;
        background-color: white;
        color: black;
      }
    }

    .subtitleBuy {
      font-size: 32px;
      font-weight: 800;
    }

    .right {
      padding: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow: visible;

      .descBuy {
        font-size: 14px;
        font-weight: 400;
      }

      .buy {
        background-color: #1892f0;
        color: black;
        text-transform: uppercase;
        width: 100%;
        height: 48px;
        font-weight: 800;
        border-radius: 4px;
        cursor: pointer;
      }

      .selectContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        overflow: visible;

        .buyNcoin {
          cursor: pointer;
          background-color: transparent;
          width: 100%;
          height: 48px;
          border: 2px solid #ffffff;
          border-radius: 4px;
          font-weight: 600;
          font-size: 16px;
          color: white;
          font-family: "Rubik";
          background-color: transparent;
        }

        .buyNcoin:hover {
          transition-duration: 0.3s;
          background-color: white;
          color: black;
        }
      }
    }
  }

  .desc,
  .title {
    display: none;
  }

  .title2 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop) {
  .packInfo {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
    padding: 0 2rem;
    color: white;
    font-family: "Rubik";
    height: 100%;
    height: fit-content;

    .container {
      background: linear-gradient(180deg, #041237 0%, rgba(4, 18, 55, 0) 100%);
      border: 1px solid #0146d5;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      height: 760px;
    }

    .left {
      @extend .container;
      width: 60%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      .title {
        font-size: 56px;
        font-weight: 800;
        text-transform: uppercase;
      }

      .desc {
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 19px;
        font-weight: 400;
      }

      .nfts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;
      }

      .inPack {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;

        h3 {
          font-size: 28px;
        }

        .chances {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;

          p {
            font-weight: bold;
            font-size: 20px;
          }
        }
      }

      .viewAll {
        margin: 1rem 0;
        cursor: pointer;
        background-color: transparent;
        width: 128px;
        height: 48px;
        border: 2px solid #ffffff;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        font-family: "Rubik";
      }

      .viewAll:hover {
        transition-duration: 0.3s;
        background-color: white;
        color: black;
      }
    }

    .subtitleBuy {
      font-size: 32px;
      font-weight: 800;
    }

    .right {
      @extend .container;

      width: 30%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .descBuy {
        font-size: 14px;
        font-weight: 400;
      }

      .buy {
        background-color: #1892f0;
        color: black;
        text-transform: uppercase;
        width: 100%;
        height: 48px;
        font-weight: 800;
        border-radius: 4px;
        cursor: pointer;
      }

      .selectContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        overflow: visible;

        .buyNcoin {
          cursor: pointer;
          background-color: transparent;
          width: 100%;
          height: 48px;
          border: 2px solid #ffffff;
          border-radius: 4px;
          font-weight: 600;
          font-size: 16px;
          color: white;
          font-family: "Rubik";
          background-color: transparent;
        }

        .buyNcoin:hover {
          transition-duration: 0.3s;
          background-color: white;
          color: black;
        }
      }
    }
  }

  .desc2,
  .title2 {
    display: none;
  }
}
