.socialMedia {
  position: fixed;
  top: 63%;
  margin-left: 92%;
  width: 7%;
  display: flex;
  flex-direction: column;
  padding: 0;
  z-index: 10;
  height: 250px;

  img {
    width: 100%;
  }
  .container {
    position: relative;
    top: 0;
  }
  .fb {
    position: absolute;
    top: 0;
  }
  .ig {
    position: absolute;
    top: 4em;
  }
  .discord {
    position: absolute;
    top: 8em;
  }
}
