.nftDetailPage {
  font-family: "Rubik";
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .goBackToMarket {
    color: white;
    text-decoration: none;
  }

  .nft {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nftImg {
      position: relative;
      width: 50%;
      display: inline-block;
      vertical-align: top;
      width: 500px;

      img {
        width: 500px;
        height: 350px;
        position: fixed;
        padding: 1rem;
        background-color: black;
        object-fit: contain;
      }
    }

    .nftData {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 500px;
    }
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}