@import "../../Styles/colors.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/animations.scss";
@import "../../Styles/breakpoints.scss";

@media (max-width: ($mobile - 1)) {
  .modal {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181931;
    border-radius: 1rem 1rem 0 0;
    animation: modalLeftRight 0.2s, modalFade 0.25s;
    padding: 24px;
    width: 100vw;
    bottom: 0;
    padding-bottom: 2rem;
    box-shadow: 0px 6px 16px 0px #19191980;

    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        font-weight: 700;
        text-transform: capitalize;
        font-family: "Rubik";
        font-size: 32px;
        color: white;
      }

      svg {
        cursor: pointer;
      }

      svg:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    }
  }
}

@media (min-width: $mobile) {
  .modal {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181931;
    border-radius: 1rem;
    animation: modalLeftRight 0.2s, modalFade 0.25s;
    padding: 24px;
    width: 460px;
    box-shadow: 0px 6px 16px 0px #19191980;
    border: 2px solid #0146d5;

    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        text-transform: capitalize;
        font-weight: 700;
        font-family: "Rubik";
        font-size: 32px;
        color: white;
      }

      svg {
        cursor: pointer;
      }

      svg:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    }
  }
}
