@import "../../../../Styles/colors.scss";

.rarity {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  .imagen {
    width: calc(100% - 2px);
  }
}

.rarityCommon {
  @extend .rarity;
  border: 2px solid rgba(217, 217, 217, 1);
  background: linear-gradient(135.39deg, #6c6c6c 0.59%, #c5c5c5 99.42%);
}

.rarityRare {
  @extend .rarity;
  border: 2px solid rgba(249, 239, 183, 1);
  background: linear-gradient(135.21deg, #db7804 0.59%, #feb700 99.42%);
}

.rarityEpic {
  @extend .rarity;
  border: 2px solid rgba(41, 89, 247, 1);
  background: linear-gradient(135.21deg, #031245 0.59%, #0836d0 99.42%);
}

.rarityLegendary {
  @extend .rarity;
  border: 2px solid rgba(199, 41, 247, 1);
  background: linear-gradient(135.21deg, #360345 0.59%, #a208d0 99.42%);
}
