@import "../../../../Styles/colors.scss";

.rarity {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  .imagen {
    width: calc(100% - 2px);
  }
}

.rarityCommon {
  @extend .rarity;
  border: 2px solid rgba(217, 217, 217, 1);
  background: linear-gradient(180deg, #6c6c6c 0%, #c5c5c5 53.3%);
}

.rarityRare {
  @extend .rarity;
  border: 2px solid rgba(249, 239, 183, 1);
  background: linear-gradient(180deg, #3cb13b 0%, #54f952 100%);
}

.rarityEpic {
  @extend .rarity;
  border: 2px solid rgba(41, 89, 247, 1);
  background: linear-gradient(180deg, #3687df 0%, #3c92e7 100%);
}

.rarityLegendary {
  @extend .rarity;
  border: 2px solid rgba(199, 41, 247, 1);
  background: linear-gradient(180deg, #ad1cd7 0%, #b922e3 100%);
}
