@import "../../Styles/colors.scss";
@import "../../Styles/fonts.scss";

$yellow: #ffdc40;
$blue: #3d91ef;
$black: #010320;

.buttonExtends {
  font-family: "Rubik";
  padding: 16px;
  padding-top: 18px;
  font-size: 20px;
  border-radius: 16px 4px;
  z-index: 1;
  color: $black;
  border: none;
  position: relative;
  text-align: center;
  overflow: visible;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.buttonInlineExtend {
  @extend .buttonExtends;

  background: transparent;
  outline: solid 2px transparent;
  outline-offset: -2px;
}

.buttonDisabled {
  @extend .buttonExtends;

  color: rgba(200, 203, 208, 1);
  background-color: rgba(65, 73, 88, 1);
  cursor: no-drop;
}

.buttonBlue {
  @extend .buttonExtends;

  background-color: $blue;
  color: $black;

  &:before {
    z-index: -1;
    content: "";
    background: linear-gradient(
      90deg,
      $primary-blue,
      $account-border,
      $glow-modal,
      $account-border,
      $primary-blue
    );
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 500%;
    filter: blur(3px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 16px 4px;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $blue;
    left: 0px;
    top: 0px;
    border-radius: 16px 4px;
    z-index: -1;
  }
}

.buttonYellow {
  @extend .buttonExtends;

  color: $black;
  background-color: $yellow;

  &:before {
    z-index: -1;
    content: "";
    background: linear-gradient(
      90deg,
      $glow-modal-light,
      rgb(255, 249, 168),
      $glow-modal-light
    );
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 500%;
    filter: blur(3px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 16px 4px;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $yellow;
    left: 0px;
    top: 0px;
    border-radius: 16px 4px;
    z-index: -1;
  }
}

.buttonInlineYellow {
  @extend .buttonInlineExtend;

  outline-color: $yellow;
  color: $yellow;
}

.buttonInlineYellow:hover {
  background-color: $yellow;
  transition-duration: 0.3s;
  color: $black;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
