@import "../../Styles/fonts.scss";
@import "../../Styles/colors.scss";
@import "../../Styles/breakpoints.scss";

@media (max-width: $tablet - 1) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      margin-top: 40px;

      .back {
        width: 1;
        margin-top: 30px;
        font-family: "Nasalization";
        color: $go-back;
        font-size: 10px;
        cursor: pointer;
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
      }

      .title {
        margin-top: 5px;
        font-family: "Nasalization";
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
        text-align: center;
      }

      .rectangle {
        width: 100vw;
        border-top: 3px solid transparent;
        border-image: linear-gradient(
            180deg,
            #0146d5 0%,
            rgba(1, 70, 213, 0) 100%
          )
          1;
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $laptop - 1) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      width: 95vw;

      .back {
        width: 1;
        margin-top: 30px;
        font-family: "Nasalization";
        color: $go-back;
        font-size: 10px;
        cursor: pointer;
      }

      .title {
        margin-top: 5px;
        font-family: "Nasalization";
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
      }

      .rectangle {
        border: 3px solid transparent;
        border-image: linear-gradient(
            180deg,
            #0146d5 0%,
            rgba(1, 70, 213, 0) 100%
          )
          1;
      }
    }
  }
}

@media (min-width: $laptop) and (max-width: $desktop - 1) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      width: 95vw;

      .back {
        width: 1;
        margin-top: 30px;
        font-family: "Nasalization";
        color: $go-back;
        font-size: 10px;
        cursor: pointer;
      }

      .title {
        margin-top: 5px;
        font-family: "Nasalization";
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
      }

      .rectangle {
        border: 3px solid transparent;
        border-image: linear-gradient(
            180deg,
            #0146d5 0%,
            rgba(1, 70, 213, 0) 100%
          )
          1;
      }
    }
  }
}

@media (min-width: $desktop) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      width: 95vw;

      .back {
        width: 1;
        margin-top: 30px;
        font-family: "Nasalization";
        color: $go-back;
        font-size: 10px;
        cursor: pointer;
      }

      .title {
        margin-top: 5px;
        font-family: "Nasalization";
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
      }

      .rectangle {
        border: 3px solid transparent;
        border-image: linear-gradient(
            180deg,
            #0146d5 0%,
            rgba(1, 70, 213, 0) 100%
          )
          1;
      }
    }
  }
}