@import "../../../../Styles/colors.scss";

.layoutContainer {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  background: #010320;
  display: flex;
  min-height: 600px;
}

.layoutContainer2 {
  height: 100%;
  width: 100vw;
  padding-top: 80px;
  background: #010320;
  display: flex;
}
