.container {
    width: 84vw;
    min-height: 300px;
    background: linear-gradient(180deg, #041237 0%, rgba(4, 18, 55, 0) 100%);
    border: 1.5px solid;
    border-image: linear-gradient(180deg, #0146d5 0%, rgba(1, 70, 213, 0) 100%) 1;
    border-bottom: none;
}
