@import "../../../../Styles/breakpoints.scss";

@media (max-width: $desktop - 1) {
  .container {
    min-height: 300px;
    border: 1.5px solid;
    border-bottom: none;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 84vw;
    min-height: 300px;
    border: 1.5px solid;
    border-bottom: none;
  }
}
