@import "../../Styles/breakpoints.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/colors.scss";

@media (max-width: $mobile - 1) {
  .back {
    width: 1;
    margin-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      color: white;

      .imgContainer {
        margin-top: 10px;
        width: 100vw;
        height: 51vh;
        background-color: black;
        overflow: hidden;
        .pinVideo {
          position: relative;
          top: 0;
          left: 50%; /*Center the vid, withouth black spaces*/
          transform: translate(-50%);
          width: 100%;
          height: 100%;
        }
        .loadMessageContainer {
          height: 100%;
          width: 100%;
          background-color: black;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;

          .loadMessage {
            font-family: $font-nasalization;
            color: white;
          }
        }
      }

      .text {
        width: 100vw;
        background-color: rgba(3, 11, 35, 0.8);

        .dataContainer {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .rare {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 20px;
            font-weight: 700;
          }

          .repName {
            color: $account-name;
            padding-bottom: 15px;
          }

          .infoContainer {
            display: flex;
            flex-direction: column;
            width: 85vw;
            align-self: center;

            .btnContainer {
              display: flex;
              gap: 10px;

              .btn {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                cursor: pointer;
              }

              .btnDes {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                opacity: 0.5;
                cursor: pointer;
              }
            }
            .info {
              padding: 10px 20px;
              border-image: linear-gradient(
                  180deg,
                  #0146d5 0%,
                  rgba(1, 70, 213, 0) 100%
                )
                1;
              border-top: 2px solid;
              border-bottom: none;
              border-right: 2.1px solid;
              border-left: 2.3px solid;
              background: linear-gradient(
                180deg,
                rgba(4, 18, 55, 0.65) 0%,
                rgba(4, 18, 55, 0) 100%
              );

              .item {
                margin-top: 5px;
                width: 100%;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );

                p {
                  padding: 0;
                }
                .abilitiesItem {
                  width: 100%;
                }

                // .abilitiesItem::after {
                //   content: " - ";
                // }
                // .abilitiesItem:last-child::after {
                //   content: none;
                // }
              }

              .itemBlue {
                margin-top: 5px;
                width: 100%;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );
                color: $go-back;

                p {
                  padding: 0;
                }
              }

              .desc {
                text-align: left;
                width: 100%;
                padding: 0;
                font-size: 12px;
                padding: 5px 0;
              }
            }
          }

          p {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 14px;
            font-weight: 400;
          }

          .contentNft {
            position: relative;
            font-size: 10px;
          }

          ul {
            list-style: none;
            padding-left: 40px;
            padding-top: 7px;
            font-family: $font-nasalization;
            font-size: 14px;
            font-weight: 400;
          }

          .price {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 17px;
            font-weight: 700;
            color: $account-name;
          }
        }
      }
      .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        overflow: visible;

        button {
          width: 80%;
          margin-top: 10px;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (min-width: $mobile) and (max-width: $laptop - 1) {
  .back {
    width: 1;
    margin-top: 30px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      color: white;

      .imgContainer {
        margin-top: 10px;
        width: 100vw;
        height: 51vh;
        background-color: black;
        overflow: hidden;

        .pinVideo {
          position: relative;
          top: 0;
          left: 50%; /*Center the vid, withouth black spaces*/
          transform: translate(-50%);
          width: 100%;
          height: 100%;
        }
        .loadMessageContainer {
          height: 100%;
          width: 100%;
          background-color: black;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;

          .loadMessage {
            font-family: $font-nasalization;
            color: white;
          }
        }
      }

      .text {
        width: 100vw;
        background-color: rgba(3, 11, 35, 0.8);

        .dataContainer {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .rare {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 20px;
            font-weight: 700;
          }

          .repName {
            color: $account-name;
            padding-bottom: 15px;
          }

          .infoContainer {
            display: flex;
            flex-direction: column;
            width: 85vw;
            align-self: center;

            .btnContainer {
              display: flex;
              gap: 10px;

              .btn {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                cursor: pointer;
              }

              .btnDes {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                opacity: 0.5;
                cursor: pointer;
              }
            }
            .info {
              padding: 10px 20px;
              border-image: linear-gradient(
                  180deg,
                  #0146d5 0%,
                  rgba(1, 70, 213, 0) 100%
                )
                1;
              border-top: 2px solid;
              border-bottom: none;
              border-right: 2.1px solid;
              border-left: 2.3px solid;
              background: linear-gradient(
                180deg,
                rgba(4, 18, 55, 0.65) 0%,
                rgba(4, 18, 55, 0) 100%
              );

              .item {
                margin-top: 5px;
                width: 100%;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );

                p {
                  padding: 0;
                }
              }

              .itemBlue {
                margin-top: 5px;
                width: 100%;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );
                color: $go-back;

                p {
                  padding: 0;
                }
              }

              .desc {
                text-align: left;
                width: 100%;
                padding: 0;
                font-size: 12px;
                padding: 5px 0;
              }
            }
          }

          p {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 14px;
            font-weight: 400;
          }

          .contentNft {
            position: relative;
            font-size: 10px;
          }

          ul {
            list-style: none;
            padding-left: 40px;
            padding-top: 7px;
            font-family: $font-nasalization;
            font-size: 14px;
            font-weight: 400;
          }

          .price {
            padding-left: 40px;
            padding-top: 15px;
            font-family: $font-nasalization;
            font-size: 17px;
            font-weight: 700;
            color: $account-name;
          }
        }
      }
      .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        overflow: visible;

        button {
          width: 80%;
          margin-top: 10px;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
        }
      }
    }
  }
}

@media (min-width: $laptop) and (max-width: $desktop - 1) {
  .back {
    padding-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    z-index: 2;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      width: 100%;

      .imgContainer {
        width: 45%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        background-color: black;
        overflow: hidden;
        // background: linear-gradient(
        //   180deg,
        //   #0146d5 0%,
        //   rgba(1, 70, 213, 0) 100%
        // );
        // background: linear-gradient(180deg, rgba(0,0,0,1) 96%, rgba(4,18,55,1) 99.8%);
        .pinVideo {
          position: absolute;
          top: 0;
          left: 50%; /*Center the vid, withouth black spaces*/
          transform: translate(-50%);
          height: 100%;
        }
        .loadMessageContainer {
          height: 100%;
          width: 100%;
          background-color: black;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;

          .loadMessage {
            font-family: $font-nasalization;
            color: white;
          }
        }
      }

      .text {
        width: 55%;
        height: 100%;
        display: flex;
        background-color: black;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .dataContainer {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .rare {
            padding-top: 45px;
            font-family: $font-nasalization;
            font-size: 25px;
            font-weight: 700;
          }

          .repName {
            padding-left: 0;
            color: $account-name;
            padding-bottom: 30px;
          }

          .infoContainer {
            display: flex;
            flex-direction: column;

            .btnContainer {
              display: flex;
              gap: 10px;

              .btn {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                cursor: pointer;
              }

              .btnDes {
                font-family: $font-nasalization;
                background-color: #0146d5;
                border: none;
                color: white;
                padding: 8px 35px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                font-weight: bold;
                opacity: 0.5;
                cursor: pointer;
              }
            }

            .info {
              padding: 10px 20px;
              border-image: linear-gradient(
                  180deg,
                  #0146d5 0%,
                  rgba(1, 70, 213, 0) 100%
                )
                1;
              border-top: 2px solid;
              border-bottom: none;
              border-right: 2.1px solid;
              border-left: 2.3px solid;
              background: linear-gradient(
                180deg,
                rgba(4, 18, 55, 0.65) 0%,
                rgba(4, 18, 55, 0) 100%
              );

              .item {
                margin-top: 5px;
                width: 500px;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );

                p {
                  padding: 0;
                }

                .abilitiesItem::after {
                  content: " - ";
                }
                .abilitiesItem:last-child::after {
                  content: none;
                }
              }

              .itemBlue {
                margin-top: 5px;
                width: 500px;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                background: linear-gradient(
                  180deg,
                  rgba(4, 18, 55, 0.65) 0%,
                  rgba(4, 18, 55, 0.65) 100%
                );
                color: $go-back;

                p {
                  padding: 0;
                }
              }

              .desc {
                text-align: center;
                width: 500px;
                padding: 0;
                font-size: 12px;
                padding: 5px 0;
              }
            }
          }
        }

        p {
          padding-left: 40px;
          padding-top: 6px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .contentNft {
          position: absolute;
          font-size: 10px;
          margin-top: -50px;
          margin-bottom: -100px;
        }

        ul {
          list-style: none;
          padding-left: 40px;
          padding-top: 7px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .price {
          padding-left: 40px;
          padding-top: 25px;
          font-family: $font-nasalization;
          font-size: 22px;
          font-weight: 700;
          color: $account-name;
        }

        .buttonContainer {
          width: 100%;
          display: flex;
          justify-content: left;
          overflow: visible;
          padding-left: 40px;

          button {
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 50px;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) and (max-width: $HD - 1) {
  .back {
    padding-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
    position: absolute;
    top: 80px;
    z-index: 2;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      width: 100%;

      .cardContainer {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin-top: 30px;

        .topContainer {
          height: 440px;
          display: flex;
          width: 90vw;

          .videoContainer {
            width: 30%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            overflow: hidden;
            .pinVideo {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%);
              height: 100%;
            }
            .loadMessageContainer {
              height: 100%;
              width: 100%;
              background-color: black;
              z-index: 2;
              display: flex;
              justify-content: center;
              align-items: center;

              .loadMessage {
                font-family: $font-nasalization;
                color: white;
              }
            }
          }

          .topRightContainer {
            background-color: #060f27;
            width: 70%;

            .title {
              color: $logout;
              font-weight: bold;
              padding-bottom: 10px;
              font-family: $font-nsBold;
              font-size: 16px;
            }

            .featuresContainer {
              display: flex;
            }
            
            .features{
              font-family: $font-nsRegular;
              font-size: 16px;
              line-height: 1.3em;
            }

            .features::before {
              content: "- ";
            }

            .features:first-child::before {
              content: none;
            }

            .abilityText {
              padding-right: 50px;
              font-family: $font-nsRegular;
              line-height: 1.3em;
            }

            .cont1 {
              display: flex;
              padding-left: 30px;
              margin-top: 30px;

              .cont2 {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .cont2a {
                  display: flex;

                  .cont3 {
                    display: flex;
                    flex-direction: column;
                    width: 55%;
                    gap: 30px;
                    overflow: visible;

                    .cont3a {
                      display: flex;
                      flex-direction: column;
                      gap: 7px;
                    }

                    .cont3b {
                      width: 140%;
                      .storyText {
                        padding-right: 50px;
                        font-family: $font-nsRegular;
                        line-height: 1.3em;
                      }
                    }
                  }

                  .cont3Weapon {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    gap: 30px;
                    overflow: visible;

                    .cont3a {
                      display: flex;
                      flex-direction: column;
                      gap: 7px;
                    }

                    .cont3b {
                      width: 100%;
                      .storyText {
                        padding-right: 50px;
                        font-family: $font-nsRegular;
                        line-height: 1.3em;
                      }
                    }
                  }

                  .skillsContainer {
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    .title {
                      font-family: $font-nsBold;
                    }
                    .body {
                      font-family: $font-nsRegular;
                    }
                  }

                  .statsContainer {
                    position: absolute;
                    right: 0;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    .itemStatContainer {
                      display: flex;
                      gap: 15px;
                      align-items: center;
                      justify-content: flex-start;

                      img {
                        width: 60px;
                      }

                      .itemStatInfo {
                        display: flex;
                        flex-direction: column;
                        font-size: 15px;

                        .itemStatTitle {
                          font-weight: bold;
                          font-family: $font-nsBold;
                        }
                        .itemStatNumbers {
                          font-family: $font-nsBold;
                        }
                      }
                    }
                  }
                }

                .cont2b {
                  .p2eContainer {
                    display: flex;

                    .p2eContainerA {
                      display: flex;
                      flex-direction: column;
                      gap: 5px;
                      width: 55%;
                      font-family: $font-nsRegular;
                      line-height: 1.3em;
                    }

                    .p2eContainerB {
                      display: flex;
                      flex-direction: column;
                      gap: 5px;
                      font-family: $font-nsRegular;
                      line-height: 1.3em;
                    }

                    .p2eItemContainer {
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      font-size: 15px;

                      .p2eIcon {
                        width: 25px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .bottomContainer {
          height: 60px;
          background-color: black;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .bottomLeftContainer {
            height: 60px;
            background-color: #242339;
            padding: 0 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;

            .item {
              display: flex;
              align-items: center;
              gap: 10px;

              .itemName {
                color: $account-name;
                font-size: 28px;
                font-family: $font-nasalization;
                font-weight: bold;
              }

              .repName {
                font-size: 16px;
                font-family: $font-nsRegular;
                line-height: 1.3em;
              }

              .price {
                font-family: $font-nsRegular;
                line-height: 1.3em;
                color: yellow;
                padding-left: 30px;
              }

              .rarity {
                font-size: 14px;
                font-family: $font-nsRegular;
                line-height: 1.3em;
              }
            }
          }

          .button {
            width: 30%;

            button {
              width: 100%;
              height: 60px;
              border: none;
              cursor: pointer;
              font-size: 20px;
              background-color: $secondary-blue;
              color: white;
              font-family: $font-nasalization;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $HD) {
  .back {
    padding-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    z-index: 2;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100%;
      width: 100%;

      .imgContainer {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        overflow: hidden;

        .pinVideo {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%);
          height: 90%;
          top: 5%;
        }
        .loadMessageContainer {
          height: 100%;
          width: 100%;
          background-color: black;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;

          .loadMessage {
            font-family: $font-nasalization;
            color: white;
          }
        }
      }
    }

    .cardContainer {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin-top: 30px;

      .topContainer {
        height: 440px;
        display: flex;
        width: 90vw;

        .videoContainer {
          width: 30%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          overflow: hidden;
          .pinVideo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            height: 100%;
          }
          .loadMessageContainer {
            height: 100%;
            width: 100%;
            background-color: black;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            .loadMessage {
              font-family: $font-nasalization;
              color: white;
            }
          }
        }

        .topRightContainer {
          background-color: #060f27;
          width: 70%;

          .title {
            color: $logout;
            font-weight: bold;
            padding-bottom: 10px;
          }

          .featuresContainer {
            display: flex;
          }

          .features::before {
            content: "- ";
          }

          .features:first-child::before {
            content: none;
          }

          .abilityText {
            padding-right: 50px;
          }

          .cont1 {
            display: flex;
            padding-left: 30px;
            margin-top: 40px;

            .cont2 {
              display: flex;
              flex-direction: column;
              gap: 25px;

              .cont2a {
                display: flex;

                .cont3 {
                  display: flex;
                  flex-direction: column;
                  width: 55%;
                  gap: 50px;

                  .cont3a {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                  }

                  .cont3b {
                    .storyText {
                      padding-right: 50px;
                    }
                  }
                }

                .skillsContainer {
                  width: 20%;
                  display: flex;
                  flex-direction: column;
                  gap: 7px;
                }

                .statsContainer {
                  width: 20%;
                  display: flex;
                  flex-direction: column;
                  gap: 7px;

                  .itemStatContainer {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    justify-content: flex-start;

                    img {
                      width: 60px;
                    }

                    .itemStatInfo {
                      display: flex;
                      flex-direction: column;
                      font-size: 15px;

                      .itemStatTitle {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }

              .cont2b {
                .p2eContainer {
                  display: flex;

                  .p2eContainerA {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 55%;
                  }

                  .p2eContainerB {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                  }

                  .p2eItemContainer {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;

                    .p2eIcon {
                      width: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .bottomContainer {
        height: 60px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bottomLeftContainer {
          height: 60px;
          background-color: #242339;
          padding: 0 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 75%;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;

            .itemName {
              color: $account-name;
              font-size: 24px;
            }

            .repName {
              font-size: 12px;
            }
          }
        }

        .button {
          width: 30%;

          button {
            width: 100%;
            height: 60px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            background-color: $secondary-blue;
            color: white;
          }
        }
      }
    }
  }
}
