$text-color: #d4defd;

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.5rem;
  gap: 0.5rem;
  cursor: pointer;
  text-decoration: none;

  span {
    font-family: "Rubik";
    color: $text-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3px;
    font-size: 14px;
  }
}

.profileContainer:hover {
  svg {
    transition-duration: 0.3s;
    transform: scale(1.1);
  }
}
