@import "../../Styles/breakpoints.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/colors.scss";

@media (max-width: $laptop - 1) {
  .modalContainer {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalText {
      margin-top: 20px;
      padding-bottom: 40px;
      font-size: 18px;
      font-weight: normal;
    }

    .chargeNow {
      font-weight: normal;
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .back {
    font-size: 12px;
    color: #3d91ef;
    font-family: $font-nasalization;
    text-align: left;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding: 2vw 0 10px 2.5vw;
  }

  .container {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 30px;

    .rectangle {
      background: linear-gradient(180deg, rgba(4, 18, 55, 0.65) 0%, rgba(4, 18, 55, 0) 100%);

      .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-size: cover;

        .information {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 12px;
          align-items: center;
          overflow: visible;
          padding: 12px 0px;

          .release {
            font-family: $font-nasalization;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
          }
          .name {
            font-family: $font-montHeavy;
            font-size: 28px;
            line-height: 32px;
            color: $account-name;
          }
          .timer {
            font-family: $font-nasalization;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
          }
        }
      }

      .nftsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
      }

      .olderTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 24px 20px;
        .older {
          font-family: $font-nasalization;
          font-size: 20px;
          line-height: 24px;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: $laptop) and (max-width: $HD - 1) {
  .modalContainer {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalText {
      margin-top: 20px;
      padding-bottom: 40px;
      font-size: 18px;
      font-weight: normal;
    }

    .chargeNow {
      font-weight: normal;
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .back {
    padding-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
    position: absolute;
    top: 80px;
  }

  .title {
    font-size: 25px;
    color: white;
    font-family: $font-nasalization;
    text-align: left;
    width: 100%;
    padding: 0.3vw 0 1vw 2.5vw;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;

    .rectangle {
      width: 95vw;
      border-image: linear-gradient(180deg, #0146d5 0%, rgba(1, 70, 213, 0) 100%) 1;
      border-top: 2px solid;
      border-bottom: none;
      border-right: 2.1px solid;
      gap: 50px;
      border-left: 2.3px solid;
      background: linear-gradient(180deg, rgba(4, 18, 55, 0.65) 0%, rgba(4, 18, 55, 0) 100%);
      padding: 24px;

      .hero {
        width: 100%;
        height: 250px;
        padding-left: 146px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-size: cover;

        .information {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .release {
            font-family: $font-nasalization;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
          }
          .name {
            font-family: $font-montHeavy;
            font-size: 36px;
            line-height: 42px;
            color: $account-name;
          }
          .timer {
            font-family: $font-nasalization;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
          }
        }
      }

      .nftsContainer {
        display: grid;
        grid-template-columns: repeat(5, 0fr);
        grid-column-gap: 30px;
        grid-row-gap: 70px;
        overflow: visible;
      }

      .olderTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 24px 0;
        .older {
          font-family: $font-nasalization;
          font-size: 24px;
          line-height: 28px;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: $HD) {
  .modalContainer {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalText {
      margin-top: 20px;
      padding-bottom: 40px;
      font-size: 18px;
      font-weight: normal;
    }

    .chargeNow {
      font-weight: normal;
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .back {
    padding-top: 20px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    padding-left: 20px;
    background-color: transparent;
    position: absolute;
    top: 80px;
  }

  .title {
    font-size: 25px;
    color: white;
    font-family: $font-nasalization;
    text-align: left;
    width: 100%;
    padding: 0.3vw 0 1vw 2.5vw;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;

    .rectangle {
      width: 95vw;
      border-image: linear-gradient(180deg, #0146d5 0%, rgba(1, 70, 213, 0) 100%) 1;
      border-top: 2px solid;
      border-bottom: none;
      border-right: 2.1px solid;
      gap: 50px;
      border-left: 2.3px solid;
      background: linear-gradient(180deg, rgba(4, 18, 55, 0.65) 0%, rgba(4, 18, 55, 0) 100%);
      padding: 24px;

      .hero {
        width: 100%;
        height: 37vh;
        padding-left: 146px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-size: cover;

        .information {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .release {
            font-family: $font-nasalization;
            font-size: 36px;
            line-height: 42px;
            color: #fff;
          }
          .name {
            font-family: $font-montHeavy;
            font-size: 48px;
            line-height: 61px;
            color: $account-name;
          }
          .timer {
            font-family: $font-nasalization;
            font-size: 24px;
            line-height: 29px;
            color: #fff;
          }
        }
      }

      .nftsContainer {
        display: grid;
        grid-template-columns: repeat(5, 0fr);
        grid-column-gap: 74px;
        grid-row-gap: 70px;
        overflow: visible;
      }

      .olderTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 24px 0;
        .older {
          font-family: $font-nasalization;
          font-size: 24px;
          line-height: 28px;
          color: #fff;
        }
      }
    }
  }
}
