@import "../../../../Styles/fonts.scss";

.content2 {
  width: 100%;
  height: 350px;
  background-color: rgba(0, 73, 219, 1);
  margin-top: 820px - 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-family: $font-nasalization;
    font-size: 20px;
  }
}
