@import "../../../../Styles/breakpoints.scss";

@media (max-width: ($desktop - 1)) {
  .stats {
    border: 2px solid #0146d5;
    box-shadow: 0px 6px 16px 0px #1919194d;
    background: #181931;
  
    padding: 1.5rem;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      row-gap: 1.5rem;

      .itemStatContainer {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p {
          font-weight: bold;
          font-size: 16px;
        }

        .itemStatInfo {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .icon {
            width: 32px;
          }

          span {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: ($desktop )) {
  .stats {
    border: 2px solid #0146d5;
    box-shadow: 0px 6px 16px 0px #1919194d;
    background: #181931;
  
    padding: 1.5rem;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      .itemStatContainer {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p {
          font-weight: bold;
          font-size: 16px;
        }

        .itemStatInfo {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .icon {
            width: 32px;
          }

          span {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}
