@import "../../../../../../Styles/breakpoints.scss";

.rarity {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 16px;
  border: none;

  img {
    width: 12px;
    object-fit: contain;
  }

  p {
    font-size: 14px;
    padding-top: 3px;
    color: white;
    font-family: "Rubik";
  }
}

.CommonCard {
  @extend .rarity;

  .rarity {
    padding: 0.3rem 0.6rem;
    border: 1px solid #6c6c6c;
  }
}

.RareCard {
  @extend .rarity;

  .rarity {
    padding: 0.3rem 0.6rem;
    border: 1px solid #a78043;
  }
}

.EpicCard {
  @extend .rarity;

  .rarity {
    padding: 0.3rem 0.6rem;
    border: 1px solid #8343a8;
  }
}

.LegendaryCard {
  @extend .rarity;

  .rarity {
    padding: 0.3rem 0.6rem;
    border: 1px solid #0ca5d2;
  }
}

@media (max-width: ($desktop - 1)) {
  .first {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: #181931;
    padding: 1.5rem 2rem;
    border: 2px solid #0146d5;

    .title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      h3 {
        color: #ffdd00;
        font-size: 32px;
        font-weight: 700;
      }

      span {
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .description {
      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    .line {
      background-color: #0146d5;
      height: 2px;
      width: 100%;
    }

    .feeAndSeller {
      color: white;
      display: flex;
      align-items: center;
      padding: 1rem 0;
      gap: 1rem;
    }
  }
}

@media (min-width: ($desktop )) {
  .first {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: #181931;
    padding: 1.5rem 2rem;
    border: 2px solid #0146d5;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;

      h3 {
        color: #ffdd00;
        font-size: 32px;
        font-weight: 700;
      }

      span {
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .description {
      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    .line {
      background-color: #0146d5;
      height: 2px;
      width: 100%;
    }

    .feeAndSeller {
      color: white;
      display: flex;
      align-items: center;
      padding: 1rem 0;
      gap: 1rem;
    }
  }
}
