@import "../../../../Styles/colors.scss";
@import "../../../../Styles/breakpoints.scss";
@import "../../../../Styles/fonts.scss";

@media (max-width: ($tablet - 1)) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      padding-top: 30px;
      padding-left: 30px;
      color: white;
      font-family: "Rubik";
      font-size: 22px;
    }

    .cards {
      padding: 70px 30px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      grid-column-gap: 30px;
      grid-row-gap: 70px;
      overflow: visible;
    }
  }
}

@media (min-width: $tablet) and (max-width: ($desktop - 1)) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      padding-top: 30px;
      padding-left: 30px;
      color: white;
      font-family: "Rubik";
      font-size: 22px;
    }

    .cards {
      padding: 70px 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 70px;
      grid-row-gap: 70px;
      overflow: visible;
    }
  }
}

@media (min-width: $desktop) and (max-width: $HD - 1) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      padding-top: 30px;
      padding-left: 30px;
      color: white;
      font-family: "Rubik";
      font-size: 22px;
    }

    .cards {
      padding: 70px 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 70px;
      overflow: visible;
    }
  }
}

@media (min-width: $HD) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      padding-top: 30px;
      padding-left: 30px;
      color: white;
      font-family: "Rubik";
      font-size: 22px;
    }

    .cards {
      padding: 70px 30px;
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 70px;
      overflow: visible;
    }
  }
}

.notNft {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  color: white;
  font-size: 20px;
  font-family: $font-nasalization;
}

.loadingContainer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $desktop - 1) {
  .container {
    min-height: 300px;
    border: 1.5px solid;
    border-bottom: none;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 84vw;
    min-height: 300px;
    border: 1.5px solid;
    border-bottom: none;
  }
}
