@import "../../../../Styles/colors.scss";

.cardNft {
  height: 300px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 11, 35, 1);
  border-radius: 3px;
  justify-content: center;
  gap: 20px;

  img {
    width: 130px;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 7px;

    p {
      font-size: 13px;
      padding: 0px 15px;
      text-align: center;
    }

    .text2 {
      color: $account-name;
    }
  }
}
