.backLink {
  width: 100vw;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;

  a {
    color: white;
    text-decoration: none;
    font-family: "Rubik";
  }

  a:hover {
    text-decoration: underline;
  }
}
