@import '../../../../Styles/fonts.scss';
@import '../../../../Styles/colors.scss';
$mobile: 576px;
$tablet: 767px;
$laptop: 992px;
$desktop: 1200px;

// Small devices (landscape phones, 576px and up)
@media (max-width:$tablet - 1) {
    .inputContainerWhite{
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding-top: 20px;
        font-family: $font-rubikRegular;
        width: 100%;
        label {
            padding-bottom: 10px;
            font-size: 18px;
            color: white;
        }
        .inputsContainer{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;
            align-items: center;
            input {
                padding: 0px 10px;
                font-family: $font-rubikRegular;
                color: #000;
                background-color: #fff;
                height: 48px;
                font-size: 25px;
                border-radius: 8px;
                border: 0.5px solid #FFFFFF;
                margin-bottom: 10px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $tablet) and (max-width: $desktop - 1){
    .inputContainerWhite{
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding-top: 20px;
        font-family: $font-rubikRegular;
        label {
            padding-bottom: 10px;
            font-size: 18px;
            color: white;
        }
        input {
            padding: 0px 10px;
            font-family: $font-rubikRegular;
            color: #000;
            background-color: #fff;
            height: 48px;
            font-size: 25px;
            border-radius: 8px;
            border: 0.5px solid #FFFFFF;
            margin-bottom: 10px;
        }
        .inputsContainer{
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $desktop){
    
    .inputContainerWhite{
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding-top: 20px;
        font-family: $font-rubikRegular;
        label {
            padding-bottom: 10px;
            font-size: 18px;
            color: white;
        }
        input {
            padding: 0px 10px;
            font-family: $font-rubikRegular;
            color: #000;
            background-color: #fff;
            height: 48px;
            font-size: 25px;
            border-radius: 8px;
            border: 0.5px solid #FFFFFF;
            margin-bottom: 10px;
        }
        .inputsContainer{
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }
    }
}

