@import '../../../../Styles/fonts.scss';

.container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: $font-route159;
    h2{
        font-size: 50px;
        font-family: $font-monkyta;
    }
    .bearX {
        position: absolute;
        bottom: 0;
        right: -150px;
        width: 450px;
    }
}
.social{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    a{
        margin: 0 0.5rem;
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: underline;
        color: white;
    }
}

.esevege {
    width: 2vw;
    height: 3vh;
    path{
        fill: white;
    }
}

.brand{
    text-align: center;
    img {
        margin: 0 1.5em;
        width: 200px;
    }
}

.textWidget{
    margin-top: 2em;
    font-size: 16px;
}

.footerNav{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: underline;
        color: white;
    }
}