@import "../../Styles/colors.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/breakpoints.scss";

$hd: 1400px;

@media (max-width: $mobile - 1) {
  .container {
    top: 0;
    width: 100%;
    position: absolute;
  }

  .content1 {
    background: url("../../Assets/img/Bg-Home.png") bottom center no-repeat #000;
    background-position-x: center;
    background-position-y: bottom;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    top: 0;
    overflow-y: hidden;
  }

  .battle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 300px;
    overflow-y: hidden;
    padding-bottom: 30px;

    img {
      width: 310px;
      padding: 0px 20px;
    }

    .botones {
      width: 230px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: -3%;
      font-size: 0.8em;
    }
  }

  footer {
    width: 100%;
    clear: both;
    position: relative;
    background: url("../../Assets/img/bg-footer.jpg") top center no-repeat #000;
    overflow: hidden;
    padding: 400px 20px 0px 20px;
    margin-top: -270px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;

    article {
      width: 450px;
      clear: both;
      display: block;
      margin: 0 auto;
      height: 100%;

      section {
        height: 100%;

        .div1 {
          padding-bottom: 30px;
          z-index: 99999;

          h2 {
            font-size: 3em;
            padding-bottom: 30px;
            line-height: 0.9em;
            font-family: $font-monkyta;
          }

          .social {
            font-family: $font-route159;
            text-align: center;

            a {
              text-decoration: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              padding: 10px;
              background-color: transparent;
              transition: all 300ms ease;

              svg {
                width: 26px;
                padding: 5px 3px;
              }
            }
          }

          .brands {
            font-family: $font-route159;
            display: block;
            text-decoration: none;
            color: white;

            img {
              padding: 55px 20px 20px;
              max-width: 200px;
              border: 0;
            }
          }

          .widget {
            font-family: $font-route159;
            display: block;
            font-size: 1em;

            p {
              font-size: 13px;
              padding: 8px 0 10px;
              max-width: 800px;
              margin: 0 auto;
            }
          }

          .menu {
            display: block;

            ul {
              list-style: none;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0;
              margin-inline-end: 0;
              padding-inline-start: 0;

              li {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                font-family: $font-route159;

                a {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                  font-size: 13px;
                }

                span {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bear {
    display: none;
  }

  .contents {
    position: absolute;
  }

  .dropdown {
    color: white;
    position: absolute;
    width: 230px;
    background-color: black;
    font-family: $font-monkyta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;

    a {
      text-decoration: none;
      color: white;
      padding: none;
    }

    img {
      padding: 10px 10px;
      width: 150px;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet - 1) {
  .container {
    top: 0;
    width: 100%;
    position: absolute;
  }

  .content1 {
    background: url("../../Assets/img/Bg-Home.png") bottom center no-repeat #000;
    background-position-x: center;
    background-position-y: bottom;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    top: 0;
    overflow-y: hidden;
  }

  .battle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 310px;
    overflow-y: hidden;
    padding-bottom: 30px;

    img {
      width: 310px;
      padding: 0px 20px;
    }

    .botones {
      width: 230px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: -3%;
      font-size: 0.8em;
    }
  }

  footer {
    width: 100%;
    clear: both;
    position: relative;
    background: url("../../Assets/img/bg-footer.jpg") top center no-repeat #000;
    overflow: hidden;
    padding: 500px 0px 0px 50px;
    margin-top: -270px;
    width: 100%;
    color: #fff;
    text-align: center;

    article {
      width: 450px;
      clear: both;
      display: block;
      margin: 0 auto;
      height: 100%;

      section {
        height: 100%;

        .div1 {
          padding-bottom: 30px;
          z-index: 99999;

          h2 {
            font-size: 3em;
            padding-bottom: 30px;
            line-height: 0.9em;
            font-family: $font-monkyta;
          }

          .social {
            font-family: $font-route159;
            text-align: center;

            a {
              text-decoration: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              padding: 10px;
              background-color: transparent;
              transition: all 300ms ease;

              svg {
                width: 26px;
                padding: 5px 3px;
              }
            }
          }

          .brands {
            font-family: $font-route159;
            display: block;
            text-decoration: none;
            color: white;

            img {
              padding: 55px 20px 20px;
              max-width: 200px;
              border: 0;
            }
          }

          .widget {
            font-family: $font-route159;
            display: block;
            font-size: 1em;

            p {
              font-size: 13px;
              padding: 8px 0 10px;
              max-width: 800px;
              margin: 0 auto;
            }
          }

          .menu {
            display: block;

            ul {
              list-style: none;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0;
              margin-inline-end: 0;
              padding-inline-start: 0;

              li {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                font-family: $font-route159;

                a {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bear {
    display: none;
  }

  .contents {
    position: absolute;
  }

  .dropdown {
    color: white;
    position: absolute;
    width: 230px;
    background-color: black;
    font-family: $font-monkyta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;
    display: flex;
    align-items: center;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      padding: none;
    }

    img {
      padding: 10px 10px;
      width: 150px;
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .container {
    top: 0;
    width: 100%;
    position: absolute;
  }

  .content1 {
    background: url("../../Assets/img/Bg-Home.png") bottom center no-repeat #000;
    background-position-x: center;
    background-position-y: bottom;
    height: 100vh;
    text-align: center;
    width: 100%;
    background-size: cover;
    top: 0;
    overflow-y: hidden;
  }

  .battle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 285px;
    overflow-y: hidden;
    padding-bottom: 50px;

    img {
      width: 350px;
    }

    .botones {
      display: flex;
      gap: 20px;
      margin-top: -3%;
      padding: 12px;
    }
  }

  footer {
    width: 100%;
    clear: both;
    position: relative;
    background: url("../../Assets/img/bg-footer.jpg") top center no-repeat #000;
    overflow: hidden;
    padding: 500px 0px 0px 50px;
    margin-top: -270px;
    width: 100%;
    color: #fff;
    text-align: center;

    article {
      width: 730px;
      clear: both;
      display: block;
      margin: 0 auto;
      height: 100%;

      section {
        height: 100%;

        .div1 {
          padding-bottom: 30px;

          h2 {
            font-size: 3em;
            padding-bottom: 30px;
            line-height: 0.9em;
            font-family: $font-monkyta;
          }

          .social {
            font-family: $font-route159;
            text-align: center;

            a {
              text-decoration: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              padding: 10px;
              background-color: transparent;
              transition: all 300ms ease;

              svg {
                width: 26px;
                padding: 5px 3px;
              }
            }
          }

          .brands {
            font-family: $font-route159;
            display: block;
            text-decoration: none;
            color: white;

            img {
              padding: 55px 20px 20px;
              max-width: 200px;
              border: 0;
            }
          }

          .widget {
            font-family: $font-route159;
            display: block;
            font-size: 1em;

            p {
              padding: 8px 0 10px;
              max-width: 800px;
              margin: 0 auto;
            }
          }

          .menu {
            display: block;

            ul {
              list-style: none;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0;
              margin-inline-end: 0;
              padding-inline-start: 0;

              li {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                font-family: $font-route159;

                a {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .bear {
    position: absolute;
    bottom: 0;
    right: -60px;
    width: 360px;
    margin: 0;
  }

  .contents {
    position: absolute;
  }

  .dropdown {
    color: white;
    position: absolute;
    width: 193.2px;
    background-color: black;
    font-family: $font-monkyta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;

    a {
      text-decoration: none;
      color: white;
      padding: none;
    }

    img {
      padding: 10px 10px;
      width: 150px;
    }
  }
}

@media (min-width: $desktop) and (max-width: $hd - 1) {
  .container {
    top: 0;
    width: 100%;
    overflow-y: auto;
    position: absolute;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .content1 {
    background: url("../../Assets/img/Bg-Home.png") bottom center no-repeat #000;
    background-position-x: center;
    background-position-y: bottom;
    text-align: center;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 105vh;
    overflow-y: hidden;
  }

  .battle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    padding-top: 65px;
    padding-bottom: 150px;
    height: 100vh;

    img {
      width: 350px;
    }

    .botones {
      display: flex;
      gap: 20px;
      margin-top: -3%;
      padding: 12px;
    }
  }

  footer {
    width: 100%;
    clear: both;
    position: relative;
    background: url("../../Assets/img/bg-footer.jpg") top center no-repeat #000;
    overflow: hidden;
    padding: 500px 0px 0px 50px;
    margin-top: -270px;
    width: 100%;
    color: #fff;
    text-align: center;

    article {
      width: 960px;
      clear: both;
      display: block;
      margin: 0 auto;
      height: 100%;

      section {
        height: 100%;

        .div1 {
          padding-bottom: 30px;

          h2 {
            font-size: 3em;
            padding-bottom: 30px;
            line-height: 0.9em;
            font-family: $font-monkyta;
          }

          .social {
            font-family: $font-route159;
            text-align: center;

            a {
              text-decoration: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              padding: 10px;
              background-color: transparent;
              transition: all 300ms ease;

              svg {
                width: 26px;
                padding: 5px 3px;
              }
            }
          }

          .brands {
            font-family: $font-route159;
            display: block;
            text-decoration: none;
            color: white;

            img {
              padding: 55px 20px 20px;
              max-width: 200px;
              border: 0;
            }
          }

          .widget {
            font-family: $font-route159;
            display: block;
            font-size: 1em;

            p {
              padding: 8px 0 10px;
              max-width: 800px;
              margin: 0 auto;
            }
          }

          .menu {
            display: block;

            ul {
              list-style: none;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0;
              margin-inline-end: 0;
              padding-inline-start: 0;

              li {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                font-family: $font-route159;

                a {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .bear {
    position: absolute;
    bottom: 0;
    right: -130px;
    width: 430px;
    margin: 0;
  }

  .contents {
    position: absolute;
  }

  .dropdown {
    color: white;
    position: absolute;
    width: 193.2px;
    background-color: black;
    font-family: $font-monkyta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;

    a {
      text-decoration: none;
      color: white;
      padding: none;
    }

    img {
      padding: 10px 10px;
      width: 150px;
    }
  }
}

@media (min-width: $hd) {
  .container {
    top: 0;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .content1 {
    background: url("../../Assets/img/Bg-Home.png") bottom center no-repeat #000;
    background-position-x: center;
    background-position-y: bottom;
    text-align: center;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
  }

  .battle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    padding-top: 65px;
    padding-bottom: 150px;
    height: 100vh;

    img {
      width: 400px;
    }

    .botones {
      display: flex;
      gap: 20px;
      margin-top: -3%;
      padding: 12px;
    }
  }

  footer {
    width: 100%;
    clear: both;
    position: relative;
    background: url("../../Assets/img/bg-footer.jpg") top center no-repeat #000;
    overflow: hidden;
    padding: 500px 0px 0px 50px;
    margin-top: -270px;
    width: 100%;
    color: #fff;
    text-align: center;

    article {
      width: 960px;
      clear: both;
      display: block;
      margin: 0 auto;
      height: 100%;

      section {
        height: 100%;

        .div1 {
          padding-bottom: 30px;

          h2 {
            font-size: 3em;
            padding-bottom: 30px;
            line-height: 0.9em;
            font-family: $font-monkyta;
          }

          .social {
            font-family: $font-route159;
            text-align: center;

            a {
              text-decoration: none;
              color: #fff;
              display: inline-block;
              font-size: 0.9em;
              padding: 10px;
              background-color: transparent;
              transition: all 300ms ease;

              svg {
                width: 26px;
                padding: 5px 3px;
              }
            }
          }

          .brands {
            font-family: $font-route159;
            display: block;
            text-decoration: none;
            color: white;

            img {
              padding: 55px 20px 20px;
              max-width: 200px;
              border: 0;
            }
          }

          .widget {
            font-family: $font-route159;
            display: block;
            font-size: 1em;

            p {
              padding: 8px 0 10px;
              max-width: 800px;
              margin: 0 auto;
            }
          }

          .menu {
            display: block;

            ul {
              list-style: none;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0;
              margin-inline-end: 0;
              padding-inline-start: 0;

              li {
                display: inline-block;
                margin-right: 12px;
                position: relative;
                font-family: $font-route159;

                a {
                  color: #fff;
                  text-decoration: none;
                  list-style: none;
                  transition: all 300ms ease;
                  background-color: transparent;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .bear {
    position: absolute;
    bottom: 0;
    right: -130px;
    width: 430px;
    margin: 0;
  }

  .contents {
    position: absolute;
  }

  .dropdown {
    color: white;
    position: absolute;
    width: 193.2px;
    background-color: black;
    font-family: $font-monkyta;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;

    a {
      text-decoration: none;
      color: white;
      padding: none;
    }

    img {
      padding: 10px 10px;
      width: 150px;
    }
  }
}
