@import "../../Styles/colors.scss";
@import "../../Styles/fonts.scss";

.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
}

.content {
  height: 450vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 40vh;

  img {
    width: 25%;
  }
}

.botones {
  position: absolute;
  top: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
