@import "../../Styles/breakpoints.scss";
@import "../../Styles/fonts.scss";
@import "../../Styles/colors.scss";

@media (max-width: $laptop - 1) {
  .back {
    width: 1;
    margin-top: 30px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  .container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: column;
      color: white;

      .imgContainer {
        margin-top: 10px;
        width: 100vw;
        height: 51vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          180deg,
          #0146d5 0%,
          rgba(1, 70, 213, 0) 100%
        );
      }

      .text {
        width: 100vw;
        background-color: rgba(3, 11, 35, 0.8);

        .rare {
          padding-left: 40px;
          padding-top: 15px;
          font-family: $font-nasalization;
          font-size: 20px;
          font-weight: 700;
        }

        p {
          padding-left: 40px;
          padding-top: 15px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .contentNft {
          position: relative;
          font-size: 10px;
        }

        ul {
          list-style: none;
          padding-left: 40px;
          padding-top: 7px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .price {
          padding-left: 40px;
          padding-top: 15px;
          font-family: $font-nasalization;
          font-size: 17px;
          font-weight: 700;
          color: $account-name;
        }

        .buttonContainer {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          padding-left: 40px;
          padding-bottom: 20px;

          button {
            margin-top: 10px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

@media (min-width: $laptop) {
  .back {
    width: 1;
    margin-top: 40px;
    font-family: "Nasalization";
    color: $go-back;
    font-size: 10px;
    cursor: pointer;
    margin-left: 20px;
  }

  .container {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      display: flex;
      flex-direction: row;
      color: white;

      .imgContainer {
        width: 325px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          180deg,
          #0146d5 0%,
          rgba(1, 70, 213, 0) 100%
        );
      }

      .text {
        width: 550px;
        height: 420px;
        display: flex;
        background-color: rgba(3, 11, 35, 0.8);
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .rare {
          padding-left: 40px;
          padding-top: 45px;
          font-family: $font-nasalization;
          font-size: 25px;
          font-weight: 700;
        }

        p {
          padding-left: 40px;
          padding-top: 15px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .contentNft {
          position: absolute;
          font-size: 10px;
          margin-top: -50px;
          margin-bottom: -100px;
        }

        ul {
          list-style: none;
          padding-left: 40px;
          padding-top: 7px;
          font-family: $font-nasalization;
          font-size: 14px;
          font-weight: 400;
        }

        .price {
          padding-left: 40px;
          padding-top: 25px;
          font-family: $font-nasalization;
          font-size: 22px;
          font-weight: 700;
          color: $account-name;
        }

        .buttonContainer {
          width: 100%;
          display: flex;
          justify-content: center;

          button {
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 50px;
            margin-bottom: 75px;
          }
        }
      }
    }
  }
}
