@import '../../../../Styles/breakpoints.scss';
@import '../../../../Styles/colors.scss';

@media (max-width: $tablet - 1){
  .firstPack {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid #0146d5;
  
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../../Assets/img/packBg1.jpg");
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 340px;
      img{
        height: 90%;
      }
    }
  
    .texts {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px;
      align-items: flex-start;
      gap: 16px;
      background: #181931;
      color: white;
      font-family: "Rubik";
  
      .time {
        p {
          font-weight: 700;
          font-size: 32px;
        }
  
        span {
          font-weight: 300;
          font-size: 14px;
          word-spacing: 18px;
        }
      }
  
      .desc {
        p {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 32px;
        }
  
        span {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  
  .firstPack:hover {
    .imgContainer {
      img {
        transition-duration: 0.3s;
        transform: scale(1.15);
      }
    }
  }
}

@media (min-width: $tablet){
  .firstPack {
    cursor: pointer;
    width: 100%;
    display: flex;
    border-radius: 1rem;
    height: 340px;
    border: 1px solid #0146d5;
  
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../../../../Assets/img/packBg1.jpg");
      width: 45%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .texts {
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 4rem;
      align-items: flex-start;
      gap: 1rem;
      background: #181931;
      color: white;
      font-family: "Rubik";
  
      .time {
        p {
          font-weight: 700;
          font-size: 32px;
        }
  
        span {
          font-weight: 300;
          font-size: 14px;
          word-spacing: 18px;
        }
      }
  
      .desc {
        p {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 32px;
        }
  
        span {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  
  .firstPack:hover {
    .imgContainer {
      img {
        transition-duration: 0.3s;
        transform: scale(1.15);
      }
    }
  }
}

