@import '../../../../Styles/animations.scss';
$desktop: 1200px;

@media (max-width: 1199px) {
  .normal {
    cursor: pointer;
  }

  .reload {
    animation: reloadForte 0.6s ease;
    cursor: no-drop;
  }
}

@media (min-width: $desktop) {
  .normal {
    cursor: pointer;
  }

  .normal:hover {
    transform: scale(1.1);
  }

  .reload {
    animation: reloadForte 0.6s ease;
    cursor: no-drop;
  }
}
