@import "../../../../Styles/colors.scss";
@import "../../../../Styles/fonts.scss";
@import "../../../../Styles/breakpoints.scss";

@media (max-width: $tablet - 1) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: "Nasalization";

    .cardsGrid {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      gap: 45px;
      overflow-x: scroll;
      justify-content: left;
      padding: 0px 15px;

      .modalContainer {
        top: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .modalButtons {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            text-decoration: none;
            color: $account-name;
          }
        }
      }
    }

    .cards {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      gap: 45px;
      overflow-x: scroll;
      justify-content: left;
      padding: 0px 15px;

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            color: $account-name;
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $laptop - 1) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: "Nasalization";

    .cardsGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 20px;
      justify-items: center;
      padding-top: 25px;

      .modalContainer {
        top: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .modalButtons {
          margin: 20px 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            text-decoration: none;
            color: $account-name;
          }
        }
      }
    }

    .cards {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      gap: 45px;
      overflow-x: scroll;
      justify-content: left;
      padding: 0px 15px;

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            color: $account-name;
          }
        }
      }
    }
  }
}

@media (min-width: $laptop) and (max-width: $desktop - 1) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: "Nasalization";

    .cardsGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 20px;
      justify-items: center;
      padding-top: 25px;

      .modalContainer {
        top: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .modalButtons {
          margin: 20px 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            text-decoration: none;
            color: $account-name;
          }
        }
      }
    }

    .cards {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      gap: 45px;
      overflow-x: scroll;
      justify-content: left;
      padding: 0px 15px;

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            color: $account-name;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: "Nasalization";

    .cardsGrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 20px;
      justify-items: center;
      padding-top: 25px;

      .modalContainer {
        top: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .modalButtons {
          margin: 20px 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            text-decoration: none;
            color: $account-name;
          }
        }
      }
    }

    .cards {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      grid-gap: 15px;
      gap: 45px;
      overflow-x: scroll;
      justify-content: left;
      padding: 0px 15px;

      .card {
        text-decoration: none;
        color: white;
        cursor: pointer;
        overflow: visible;
        position: relative;
        height: 300px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 11, 35, 1);
        border-radius: 3px;
        justify-content: center;
        gap: 20px;

        img {
          width: 150px;
        }

        .texts {
          text-decoration: none;
          color: white;
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            text-decoration: none;
            color: white;
            font-size: 13px;
            padding: 0px 15px;
            text-align: center;
          }

          .text2 {
            color: $account-name;
          }
        }
      }
    }
  }
}
