@import "../../Styles/breakpoints.scss";

@media (max-width: ($desktop - 1px)) {
  .upMenu {
    width: 100vw;
    height: fit-content;
    border-bottom: 2px solid #0146d5;
    background: #010320;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    .right {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      overflow: visible;

      .viewFilter {
        border: 2px solid #212739;
        border-radius: 4px;
        padding: 0.5rem 0.8rem;
        padding-top: 0.6rem;
        background: transparent;
        color: #707070;
        font-family: "Rubik";
        cursor: pointer;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (min-width: $desktop) {
  .upMenu {
    width: 100vw;
    height: 65px;
    padding-left: 1rem;
    padding-right: 2rem;
    border-bottom: 2px solid #0146d5;
    background: #010320;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

    .right {
      display: flex;
      gap: 1.5rem;
      overflow: visible;
    }
  }
}
