$disabled: rgba(255, 255, 255, 0.3);

.container {
  display: flex;
  font-family: "Rubik";
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 30px;
  gap: 0.5rem;
  position: relative;

  .leftArrow {
    transform: rotate(180deg);
  }

  .buttonExtend {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
    height: 36px;
    width: 38px;
    cursor: pointer;

    svg {
      padding-left: 2px;
    }
  }

  button {
    @extend .buttonExtend;
  }

  button[disabled] {
    @extend .buttonExtend;

    border-color: $disabled;
    cursor: no-drop;

    svg {
      path {
        stroke: $disabled;
      }
    }
  }

  p {
    padding: 0 6px;
  }

  .input {
    height: 36px;
    width: 38px;
    font-family: "Rubik";
    background: #0146d5;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .inputDisabled {
    height: 36px;
    width: 38px;
    border-radius: 3px;
    border: 1px solid #0146d5;
    font-family: "Rubik";
    background: none;
    color: white;
    text-align: center;
    font-size: 16px;
  }
}
